.moves-container {
    display: flex;
    flex-direction: column;
    width: max-content;
    .moves-list {
        display: flex;
        flex-direction: column;
        gap: 1em;
        .move-preview {
            border-top: 2px solid $border-neon;
            border-bottom: 5px solid rgba(0, 0, 0, 0.184);
            display: grid;
            grid-template-columns: 300px 250px 1fr;
            justify-items: start;
            align-items: end;
            gap: 0.2em;
            background-color: $cmp-mark;
            padding: 1em 2em;
            border-bottom-right-radius: 4em;
            border-top-right-radius: 4em;
            & :first-child {
                color: $primary-text;
            }

            .move-to {
                font-size: 1.7em;
            }

            .amount{
                align-self: end;
                display: flex;
                align-items: center;
                font-family: ubunto;
                font-size: 1em;
                
                .us-amount {
                    font-family: ubunto;
                    font-size: 1.4em;
                }
                span {
                    font-size: 1.3em;
                    margin-inline: 0.4em;
                }
                .bitcoin-amount {
                    font-family: ubunto;
                    font-size: 1.4em;
                    color: rgb(113, 177, 17);
                }
            }
           
            .move-at {
                color: grey;
                font-family: ubunto-light;
            }
        }
    }
    .title {
        display: flex;
        align-items: center;
        gap: 0.5em;
        margin-block-end: 0.7em;
        h3 {
            color: $primary-text;
        }
    }
}


@media (max-width: 768px) {
    .move-preview {
        grid-template-columns: 20px 20px 20px;
    }
}