.user-container {
    position: relative;
    background-color: #141a22d4;
    border: 8px solid #041301;
    outline: 1px solid $border-neon;
    box-shadow: 0 0 35px #8dce4c2f;
    width: max-content;
    margin: auto;
    margin-block: 2em;
    border-radius: 10em;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    padding-block: 2em;

    .user {
        grid-column: 2;
        display: grid;
        justify-self: center;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(3, auto);
        align-items: center;
        border-radius: 0.1em;
        color: white;

        .avatar {
            grid-column: 1;
            grid-row: 1;
            width: 120px;
            border-radius: 50%;
            box-shadow: 0 0 20px #1adce330;
            outline: 12px solid $shadow-btn;
        }

        .name {
            grid-column: 2;
            grid-row: 1;
            font-size: 2em;
        }

        .coins {
            grid-column: 1;
            grid-row: 2;
            color: rgb(185, 185, 185);
            font-size: 1.3rem;
            margin-block-start: 2em;
        }
        .btc {
            grid-column: 2;
            grid-row: 2;
            color: rgb(185, 185, 185);
            font-size: 1.3rem;
            margin-block-start: 2em;
        }
        .rate {
            grid-column: 2;
            grid-row: 3;
            font-size: 2rem;
        }
        .user-coins {
            grid-column: 1;
            grid-row: 3;
            font-size: 2rem;
        }
    }
}
