// Colors
$clr1: #e01e5a;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #e6e9ec;
$action-btn: #ef4c6c;
$btn-hover: #495c7f;
// $btn-hover:#c6e6f0;
$border-neon: #8dce4c83;
$shadow-btn:#050f1bd4;
$primary-text: #c6e6ef;
$cmp-mark:#1a222ed6;

//header && footer
$clrTopAndbottom: #1d2433;

$navHeight: 65px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;

$layoutPadding: 20px;

$cmpStart: 20px;
