.details-container {
    @include container;

    .actions {
        @include actions;
    }

    .contact-details {
        grid-column: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: em(16px, 16px);

        .contact-name {
            font-family: ubunto-bold;
            font-size: 2rem;
        }
        & :nth-child(3) {
            font-family: ubunto;
            font-size: 1.4rem;
        }
        & :nth-child(4) {
            font-family: ubunto;
            font-size: 1rem;
        }

        .avatar-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 300px;
            height: 300px;
            border: 5px solid rgb(48, 48, 48);
            border-radius: 50%;
            overflow: hidden;

            .avatar-contact {
                height: 140%;
                margin-inline-start: -0.5em;
                object-fit: cover;
            }
        }
        .transfer-input {
            position: relative;
            width: max-content;
            overflow: hidden;
            border-radius: 2em;
            border: 2px solid rgb(190, 190, 190);
            input {
                width: 300px;
                height: 60px;
                padding-inline-start: 1.7em;
                font-family: ubunto-light;
                border: none;
                font-size: 1.3rem;
                &:focus {
                    outline: none;
                    border-color: transparent; // Remove the border color
                    box-shadow: none; // Remove any box shadow
                }
            }

            .transfer-btn {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                background-color: $primary-text;
                height: 100%;
                padding: 0 1em;
                cursor: pointer;
                transition: 0.1s;

                &:hover {
                    background-color: $btn-hover;
                }
                &:hover .transfer {
                    color: white;
                }

                .transfer {
                    font-family: ubunto-medium;
                    color: $shadow-btn;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}
