//Roboto
@font-face {
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
    font-family: Roboto;
}
@font-face {
    src: url(../../fonts/Roboto/Roboto-Thin.ttf);
    font-family: Roboto-thin;
}
@font-face {
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
    font-family: Roboto-bold;
}
@font-face {
    src: url(../../fonts/Roboto/Roboto-Medium.ttf);
    font-family: Roboto-medium;
}

//Ubunto
@font-face {
    src: url(../../fonts/Ubunto/Ubuntu-Regular.ttf);
    font-family: ubunto;
}
@font-face {
    src: url(../../fonts/Ubunto/Ubuntu-Bold.ttf);
    font-family: ubunto-bold;
}
@font-face {
    src: url(../../fonts/Ubunto/Ubuntu-Light.ttf);
    font-family: ubunto-light;
}
@font-face {
    src: url(../../fonts/Ubunto//Ubuntu-Medium.ttf);
    font-family: ubunto-medium;
}
